<launch>
  <arg name="pi/2" value="1.5707963267948966" />
  <arg name="sqrt2o2" value="0.7071067811865476" />
  <node pkg="tf" type="static_transform_publisher" name="optimization_link_1"
	args="0 -1.0 1.75 0 0 0 1 /oriented_optimization_frame /optimization_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="optimization_link_2"
	args="0 .05 1.75 $(arg sqrt2o2) 0 0 -$(arg sqrt2o2) /oriented_optimization_frame /map 100" />
  <node pkg="tf" type="static_transform_publisher" name="optimization_link_3"
	args="0 0 0 1 0 0 0 /map /robot_odom_pov 100" />
</launch>