<launch> 
  <!-- ARGUMENT DEFINITIONS -->
  <arg name="file" default="default.mat" />
  <arg name="dir" default="$(find robot_simulator)/data/" />
  <arg name="vis" default="true" />
  <arg name="index" value="1" />
  <arg name="freq" default="10.0" />
  <arg name="window" default="20" />
  <arg name="tf" default="10.0" /> 
  <arg name="noise" default="0.0" />
  <arg name="simfreq" default="30.0" />

  <!-- first let's add the static frame broadcaster that broadcasts frames in a default config -->
  <include file="$(find robot_simulator)/launch/default_calibration_frames.launch" />

  <group ns="robot_1" >
    <!-- tell robot simulator to not simulate occlusions -->
    <param name="simulate_occlusions_bool" value="false" />
    <arg name="rn" value="robot_1" />
    <!-- set all parameters for this namespace -->
    <param name="robot_index" value="$(arg index)" />
    <param name="window_length" value="$(arg window)" type="int" />
    <param name="controller_freq" value="$(arg freq)" type="double" />
    <param name="simulator_freq" value="$(arg simfreq)" type="double" />
    <param name="time_final" value="$(arg tf)" type="double" />
    <param name="/simulator_noise" value="$(arg noise)" type="double" />

    <include file="$(find robot_simulator)/launch/single_robot_simulator.launch" >
      <arg name="rn" value="$(arg rn)" />
    </include>
    
    <!-- start up trep simulation and visualizer for mass position -->
    <node pkg="robot_simulator" name="mass_simulator"
	  type="suspended_mass_trep.py"
          output="screen" respawn="true" />
    <node pkg="robot_simulator" name="marker" type="mass_marker" 
          output="screen" respawn="true" />

    <!-- now I want to set appropriate parameters and start up the controller -->
    <node pkg="receding_planar_sys" name="receding_controller"
	  type="receding_controller.py" output="screen" respawn="true" />
	  <!-- launch-prefix="xterm -e" /> -->
  </group>

  <!-- start up the keyboard node -->
  <param name="robot_index" value="$(arg index)" />
  <node pkg="keyboard_node" type="multi_keyboard_node"
	name="keyboard_interface" output="screen" respawn="true"
	launch-prefix="xterm -e" />

  <!-- start up rviz unless visualization is set to false -->
  <group if="$(arg vis)">
    <node pkg="rviz" type="rviz" respawn="false" name="rviz"
	  args="-d $(find receding_planar_sys)/launch/one_robot.vcg" />
  </group>
  

</launch>
