<launch> 
  <!-- ARGUMENT DEFINITIONS -->
  <arg name="vis" default="true" /> <!-- run rviz? -->
  <arg name="index" value="1" /> <!-- robot XBee value -->
  <arg name="freq" default="10.0" /> <!-- receding horizon freq -->
  <arg name="window" default="20" /> <!-- number of timesteps to look ahead -->
  <arg name="tf" default="10.0" /> <!-- final time -->
  <arg name="noise" default="0.0" /> <!-- amount of noise to add -->
  <arg name="simfreq" default="30.0" /> <!-- frequency of the simulator -->

  <!-- REFERENCE TRAJECTORY PARAMETERS -->
  <arg name="tper" default="10.0" /> <!-- time to traverse trajectory -->
  <arg name="rx" default="0.5" /> <!-- half-width of superellipse -->
  <arg name="ry" default="0.125" /> <!-- half-height of superellipse -->
  <arg name="power" default="2.5" /> <!-- power of superellipse -->
  <!-- inverse of exponential ramp time constant (0.0 means no ramp, higher numbers mean slower ramp -->
  <arg name="exponent" default="0.0" />
  <arg name="r0" default="1.0" /> <!-- initial length of string in meters -->
  
  <!-- load serial node dictionary -->
  <rosparam file="$(find serial_node)/data/planar_cl_controller_serial_device_dict.xml" 
	    command="load"/>

  <!-- start up the kinect and both planar trackers -->
  <include file="$(find objecttracker_nu)/launch/nodelet_planar_system.launch" >
    <arg name="input" value="points" />
  </include>

  <group ns="robot_1" >
    <arg name="rn" value="robot_1" />
  </group>

  <!-- set all parameters for this namespace -->
  <param name="robot_index" value="$(arg index)" />
  <param name="window_length" value="$(arg window)" type="int" />
  <param name="controller_freq" value="$(arg freq)" type="double" />
  <param name="simulator_freq" value="$(arg simfreq)" type="double" />
  <param name="time_final" value="$(arg tf)" type="double" />
  <param name="/simulator_noise" value="$(arg noise)" type="double" />
    
  <!-- now I want to start up the controller/ filter, and the
       coordinator for the system -->
  <node pkg="receding_planar_sys" name="receding_controller"
	type="receding_controller.py" output="screen" respawn="true" >
    <param name="tper" value="$(arg tper)" type="double"/>
    <param name="rx" value="$(arg rx)" type="double"/>
    <param name="ry" value="$(arg ry)" type="double"/>
    <param name="power" value="$(arg power)" type="double"/>
    <param name="exponent" value="$(arg exponent)" type="double"/>
    <param name="r0" value="$(arg r0)" type="double"/>
  </node>
  <node pkg="receding_planar_sys" name="coordinator"
	type="receding_coordinator" output="screen" respawn="true" />

  <!-- start serial node -->
  <node pkg="serial_node" type="multi_serial_topic" name="serial_node"
    	output="log" respawn="true" />
    
  <!-- start up the keyboard node -->
  <node pkg="keyboard_node" type="multi_keyboard_node"
	name="keyboard_interface" output="screen" respawn="true"
	launch-prefix="xterm -e" />

  <!-- start up rviz unless visualization is set to false -->
  <group if="$(arg vis)">
    <node pkg="rviz" type="rviz" respawn="false" name="rviz"
	  args="-d $(find robot_simulator)/launch/controller.vcg" />
  </group>
  

</launch>
